extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div
    label(for='post_title') Post Title
    input(type='text' id='post_title' name='post_title' placeholder='Type the title of the post' value=(undefined===post ? '' : post.post_title))
    div
    label(for='post_author') Post Author 
    input(type='text' id='post_author' name='post_author' placeholder='Type the author\'s name' value=(undefined===post ? '' : post.post_author))
    div
    label(for='post_body') What do you want to say?
    textarea(id='post_body' name='post_body' placeholder='Type your text here' value=(undefined===post ? '' : post.post_body))
    div
    button(type='submit') Save Post
    if errors
      div
        ul
          each err in errors
            li!= err.msg
    if postExist
      div
        p This blog post already exist in the app's records, please create a different post.  
    if success 
      div
        p Awesome! entry saved, if you want to edit or delete the post go to the #[a(href='/posts') all posts] page.
         
        
    


