extends layout

block content

  h1.page-title Delete Your thought 

  if !isSuccessful
    p Are you sure you want to delete the following entry?

    div
      h2.page-title=post_title
      h5.page-title=post_author
      p(style="white-space: pre-wrap;") !{post_body}

    div
      form(method='POST' action='')
        input(id='postId' type='hidden' name='postId' value=post_id required='true')
        div.edit-del-btn-container
          button(type='submit') Yes
          a(href='/posts' style="display: contents") #[button(type='button') No] 
  else
    div.del-success-msg
      p Done! Your thought was deleted from the app. If you would like to create a new thought #[a(href='/posts/create') go here], or #[a(href='/posts') go to My Thoughts page]. 
