extends layout

block content

  if !isSuccessful
    h1 Delete Your Post
    p Are you sure you want to delete the following entry?
    div
      h2=post_title
      h5=post_author
      p !{post_body}

    div
      form(method='POST' action='')
        input(id='postId' type='hidden' name='postId' value=post_id required='true')
        button.btn.btn-primary(type='submit') Yes
        a(href='/posts') #[button.btn.btn-primary(type='button') No] 
  else
    div
      p Done! Your post was deleted from the app. If you would like to create a new post #[a(href='/posts/create') go here], or #[a(href='/posts') go to all posts page] to check more posts. 
