extends layout

block content
  h1.page-title=title
  form(method='POST' action='')
    div
      label(for='post_title') Post Title:
      input(type='text' id='post_title' name='post_title' placeholder='Type the title of the post' value=(post.post_title))
    div
      label(for='post_author') Post Author:
      input(type='text' id='post_author' name='post_author' placeholder='Type the author\'s name' value=(post.post_author))
    div
      label(for='post_body') What would you like to change?:
      textarea(id='post_body' name='post_body' placeholder='Type your text here') !{post.post_body}
    div.edit-del-btn-container
      button(type='submit') Save new version
      a(href='/posts' style="display: contents") #[button(type="button") To my posts] 
  if errors
    div.error-msg
      ul
        each error in errors
          li!= error.msg
  if success
    div.edit-success-msg
      p Excellent! Your post was edited and saved. Go to the #[a(href='/posts/') all posts] page to see it.
