@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Rubik+Mono+One&display=swap');

body {
  background: url("../images/body-background.jpg") no-repeat;
  background-size: cover;
  padding: 3em;
  font-family: "Plus Jakarta Sans",  sans-serif;
}

a {
  text-decoration: none;
  --bs-link-color-rgb: 78, 73, 54;
  --bs-link-hover-color-rgb: 255, 152, 0;
}

.sidebar-nav-container {
  height: 700px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: gainsboro;
  padding: 1em;
  font-size: large;
}

.nav-block-one {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}

.nav-block-one li {
  height: 2em;
  letter-spacing: 2px;
  text-align: center;
  opacity: 1;
}

.nav-separator {
  height: 2em;
  width: auto;
}

.nav-separator hr {
  border-top: double;
}

.nav-info-section {
  list-style: none;
  padding: 0;
  opacity: 1;
}

.nav-info-section li {
  height: 2em;
  font-size: small;
  text-align: center;
  opacity: 1;
}

.nav-info-section li i {
  vertical-align: middle;
  font-size: 17px;
}

.app-body {
  background-color: antiquewhite;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 700px;
  overflow-y: auto;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 0.5em;
  font-family: "Rubik Mono One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card {
  margin-bottom: 1em;
  border: solid 2px #d4ad84;
  background-color: #fffcf9c2;
}

.card-body {
  height: 150px;
  overflow-y: auto;
}

.card-title {
  font-family: "Rubik Mono One", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-text:last-child {
    margin-top: 0.5em;
    white-space: pre-wrap;
}

.card-link{
  --bs-link-color-rgb: 212, 173, 132;
  --bs-link-hover-color-rgb: 255, 152, 0;
}

.userForm {
  text-align: center;
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  border-radius: 10px;
  margin-bottom: 0.5em;
  width: 50%;
  height: 3em;
  padding-left: 0.5em;
  border: solid 2px #d4ad84;
}

input:focus {
  background-color: #fffcf9c2;
}

textarea {
  border-radius: 10px;
  margin-bottom: 0.5em;
  width: 100%;
  height: 200px;
  padding-left: 0.5em;
  border: solid 2px #d4ad84;
  resize: none;
}

textarea:focus {
  background-color: #fffcf9c2;
}

button {
  border-radius: 10px;
  margin-bottom: 0.5em;
  width: 25%;
  height: 3em;
  background-color: #e8cdb1;
  border: solid 2px #d4ad84;
  transition-duration: 0.5s;
}

button:hover{
  background-color: #a4abad;
  color: white;
  border:  solid 2px #e8a222 
}

.edit-del-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.error-msg {
  width: 70%;
  margin: auto;
  padding: 1.5em;
  color: var(--bs-danger-text);
  text-align: center;
}

.error-msg ul {
  list-style: none;
  padding-inline-start: 0;
}

.edit-success-msg {
  width: 70%;
  margin: auto;
  padding: 1.5em;
  color: #4c4731;
  text-align: center;
}

.edit-success-msg a {
  text-decoration: underline;
}

.del-success-msg {
  width: 70%;
  margin: auto;
  padding: 3em;
  color: #4c4731;
  font-size: x-large;
}

.del-success-msg a {
  text-decoration: underline;
}